<section class="container">
  <h2 class="titulo">Meus Projetos</h2>

  <section class="galerya-projetos">
    <div class="galery-item">
      <div class="image-projeto">
        <img src="img-dev.jpg" alt="Over-Flix">
      </div>
      <div class="informacoes-projeto">
        <h2 class="nome-projeto">Nome: <span>Over-Flix</span></h2>
        <p class="tecnologias">Front-End: <span>Angular</span></p>
        <p class="tecnologias">Back-End: <span>NodeJS</span></p>
        <p class="tecnologias">API: <span>Api_food</span></p>
      </div>
    </div>
    <div class="galery-item">
      <div class="image-projeto">
        <img src="img-dev.jpg" alt="Over-Flix">
      </div>
      <div class="informacoes-projeto">
        <h2 class="nome-projeto">Nome: <span>Over-Flix</span></h2>
        <p class="tecnologias">Front-End: <span>Angular</span></p>
        <p class="tecnologias">Back-End: <span>NodeJS</span></p>
        <p class="tecnologias">API: <span>Api_food</span></p>
      </div>
    </div>
    <div class="galery-item">
      <div class="image-projeto">
        <img src="img-dev.jpg" alt="Over-Flix">
      </div>
      <div class="informacoes-projeto">
        <h2 class="nome-projeto">Nome: <span>Over-Flix</span></h2>
        <p class="tecnologias">Front-End: <span>Angular</span></p>
        <p class="tecnologias">Back-End: <span>NodeJS</span></p>
        <p class="tecnologias">API: <span>Api_food</span></p>
      </div>
    </div>
    <div class="galery-item">
      <div class="image-projeto">
        <img src="img-dev.jpg" alt="Over-Flix">
      </div>
      <div class="informacoes-projeto">
        <h2 class="nome-projeto">Nome: <span>Over-Flix</span></h2>
        <p class="tecnologias">Front-End: <span>Angular</span></p>
        <p class="tecnologias">Back-End: <span>NodeJS</span></p>
        <p class="tecnologias">API: <span>Api_food</span></p>
      </div>
    </div>
    <!-- Repita os itens da galeria conforme necessário -->
  </section>

  <div class="ver-todos">
    <a href="https://github.com/seu-usuario" target="_blank">Ver todos no GitHub</a>
  </div>
</section>
