@import "../../../shared/styles/mixins.scss";
@import "../../../shared/styles/variaveis.scss";

.container-sobre {
  padding: 20px 50px;

  background-color: rgb(5, 2, 2);

  .cabecalho {

    margin-bottom: 50px;
    .titulo-cabecalho {
      @include titulo-desktop;
      text-align: center;
      color: $cor_amarela;
    }

    .descricao {
      margin-top: 20px;
      text-align: start;
      .texto-descricao {
        @include texto-desktop;
        line-height: 25px;
        color: $cor_cinza_escuro_medio;
      }
    }
  }

  .body-sobre {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    gap: 15px;

    .card-sobre {
      color: $branco;
      width: 25%;
      height: 12rem;
      border: 2px dashed $cor_amarela;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      position: relative;


      h2 {
        margin-top: 20px;
        @include titulo-desktop;
        color: $cor_amarela;
        margin-bottom: 4px;
      }

      .imagem-centralizada {
        top: -20px;
        left: 45%;
        position: absolute;
        width: 10%;
        height: 10%;
        border-radius: 40%;
        @include centralizar;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          border: 6px solid $cor_amarela;
          background-color: $cor_amarela;
        }
      }

      p {
        margin-top: 5px;
        line-height: 1.5;
        @include subTitulo-desktop;
        color: $cor_cinza_claro;

      }

      ul {
        list-style-type: none;
        padding: 0;
        margin-top: 15px;
        text-align: left;

        li {
          @include texto-desktop;
          position: relative;
          padding-left: 20px;
          margin-bottom: 8px;
          color: $cor_cinza_claro;

          &::before {
            content: '\2022'; /* Código do caractere para um bullet • */
            position: absolute;
            left: 0;
            color: $cor_amarela;
            font-size: 1.2em;
            line-height: inherit;
          }
        }
      }
    }
  }

  .experiencias {
    margin-top: 30px;
    color: $cor_amarela;
    text-align: center;

    .titulo-experiencia {
      position: relative;

      &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 40%;
        height: 2px;
        background-color: $cor_amarela;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }

    .card-experiencia {
      margin-top: 25px;
      @include shadow-card;
      border-radius: 10px;
      height: 13rem;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .info-emempresa {
        width: 30%;
        min-height: 12rem;
        border-right: $cor_cinza_claro 2px solid;

        h2 {
          margin-bottom: 10px;
        }

        p {
          text-align: start;
          @include subTitulo-desktop;
          span {
            color: $cor_cinza_escuro;
            @include texto-desktop;
          }
        }
      }

      .tecnologias {
        min-height: 12rem;
        margin-left: 10px;
        width: 30%;
        border-right: $cor_cinza_claro 2px solid;

        h2 {
          margin-bottom: 10px;
        }

        p {
          margin: 2px;
          text-align: start;
          color: $cor_cinza_escuro;
        }

        .container-tecnologias {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;

          .img-tec {
            width: 30px;
            height: 30px;
          }
          p {
            font-size: 12px;
          }
        }

      }

      .resumo {
        margin-left: 10px;
        min-height: 12rem;

        h2 {
          margin-bottom: 10px;
        }

        p {
          @include texto-desktop;
          font-size: 14px;
          color: $cor_cinza_escuro;
        }
      }

    }
  }
}
