<section class="container-sobre">
  <div class="cabecalho">
    <h2 class="titulo-cabecalho">Sobre Mim</h2>
    <div class="descricao">
      <p class="texto-descricao" >
        Me chamo Lucas Viana, sou graduado em Análise e Desenvolvimento de Sistemas pelo Instituto Federal do Amazonas (IFAM), onde adquiri sólida formação técnica e habilidades em desenvolvimento de software. Com 24 anos de idade, sou apaixonado por leitura, jogos, trilhas e estudos contínuos. Tenho um forte compromisso com o aprendizado e sou conhecido pela minha resiliência em enfrentar desafios e buscar soluções inovadoras. Estou sempre em busca de novas oportunidades para aplicar meu conhecimento e contribuir de forma positiva em projetos desafiadores.

      </p>
    </div>
  </div>

  <div class="body-sobre">
    <div class="card-sobre">
      <div class="imagem-centralizada">
        <img src="/github.png" alt="Imagem de Valores">
      </div>
      <h2>Valores</h2>
      <p>Principais valores</p>
      <ul>
        <li>Honestidade</li>
        <li>Humildade</li>
        <li>Respeito</li>
      </ul>
    </div>
    <div class="card-sobre">
      <div class="imagem-centralizada">
        <img src="/github.png" alt="Imagem de Valores">
      </div>
      <h2>Hobbies</h2>
      <p>Principais Hobbies</p>
      <ul>
        <li>Leitura</li>
        <li>Gameplays xD </li>
        <li>Trilhas</li>
      </ul>
    </div>
    <div class="card-sobre">
      <div class="imagem-centralizada">
        <img src="/github.png" alt="Imagem de Valores">
      </div>
      <h2>Habilidades</h2>
      <p>Principais habilidades</p>
      <ul>
        <li>Comunicação Efetiva</li>
        <li>Resolução de Problemas</li>
        <li>Resiliência</li>
      </ul>
    </div>
  </div>

  <div class="experiencias">
    <h2 class="titulo-experiencia" >Minhas Experiências</h2>
    <div class="card-experiencia">
      <div class="info-emempresa">
        <h2>Empresa</h2>
        <p>Local: <span>Lab Ludus - UEA</span></p>
        <p>Entrada: <span>02/05/2021</span></p>
        <p>Saida: <span>13/12/2023</span></p>
        <p>Função: <span>Desenvolvedor Full-Stack</span></p>
      </div>

      <div class="tecnologias">
        <h2>Tecnologias</h2>
        <p>Tecnologias utilizadas:</p>
        <div class="container-tecnologias">
          <div class="item-tec">
            <img  class="img-tec" src="/angular.png" alt="">
            <p>Angular</p>
          </div>
          <div class="item-tec">
            <img  class="img-tec" src="/csharp.png" alt="">
            <p>C#</p>
          </div>
          <div class="item-tec">
            <img  class="img-tec" src="/mysql.png" alt="">
            <p>MySQL</p>
          </div>
          <div class="item-tec">
            <img  class="img-tec" src="/iot.png" alt="">
            <p>WebSocket</p>
          </div>
          <div class="item-tec">
            <img  class="img-tec" src="/github.png" alt="">
            <p>GitHub</p>
          </div>
          <div class="item-tec">
            <img  class="img-tec" src="/scrum.png" alt="">
            <p>Scrum</p>
          </div>
          <div class="item-tec">
            <img  class="img-tec" src="/aws.png" alt="">
            <p>AWS</p>
          </div>
        </div>
      </div>

      <div class="resumo">
        <h2>Resumo</h2>
        <p>
          Construção de um portal IoT para atualizações de PinPads.
        </p>
      </div>
    </div>
    <div class="tecnologias">

    </div>
  </div>
</section>
