
$font-titulos: "Roboto", sans-serif;
$font-textos: "Open Sans", sans-serif;

$branco: #FFFFFf;
$cor_amarela : #FFA500;
$cor_cinza_escuro: #434343;
$cor_cinza_escuro_medio: #b3b3b3;
$cor_cinza_claro: #D3D3D3;
$cor_azul_escuro: #003366;
$cor_verde_menta: #98FF98;


